.case-title {
	display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
}
.title {
	font-size: 20px;   
}

.subtitle {
	font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #838383;
}